body{
    margin:0px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: url('https://placeimg.com/1600/900/nature');
    font-family:sans-serif;
}

#window{
    background-color:#180221d0;
    font-family: inherit;
    color:white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input{
    height:30px;
    width:200px;
    border-radius: 10px;
    border:none;
    text-align: center;
}
button{
    margin-left: 10px;
    height:25px;
    width:25px;
    border-radius: 45%;
    border:none;
    display: flex;
    align-items:center;
    justify-content: center;
}
button:hover{
    background-color: grey;
}

#details{
    display:flex;
    flex-direction: column;
}

#weather{
    display:flex;
    flex-direction: row;
    align-items: center;
}


